---
layout: default
---

<div class="ply" id="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-lg-offset-2 col-md-10 col-lg-8 text-center">
        <img class="hero-logo" src="/img/logo-hero.png" />
        <h1 class="hero-heading">We don't like pollution</h1>
        <hr class="spacer">
        <p class="lead no-margin hero-subheading">Pollution is a global issue.<br class="visible-xs" /> It's dangerous and annoying.<br /> We're here to help you put an end to it.</p>
      </div>
    </div>
  </div>
  {% include cta.html %}
</div>



<div class="ply">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <!-- SnapWidget -->
        <script src="http://snapwidget.com/js/snapwidget.js"></script>
        <iframe src="http://snapwidget.com/p/widget/?id=pE03ev0oX1&t=546" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>

      </div>
    </div>
  </div>
</div>

{% include seperator.html %}

<div class="ply">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-1 col-md-offset-2 col-sm-10 col-md-8">
        <div class="text-center">
          <h2>What the heck is Codename Canary?!</h2>
          <hr class="spacer more-space">
          <p class="lead">A movement to keep the planet clean.</p>
          <br />
        </div>
        <p>Codename Canary is a platform dedicated to getting anyone and everyone involved and invested in making the Earth a pollution free planet.</p>
        <blockquote>
          "The helplessness I feel when I'm walking along a beach that's covered in plastic bottles, fishing line, and cigarette butts inspired me to help the thousands of others who are also feeling helpless do something about it."
          <small> Ben Plunkett, Codename Canary Founder</small>
        </blockquote>
        <p>Codename Canary uses photos uploaded to Instagram to track pollution in the form of <strong>litter</strong>, <strong>garbage</strong>, <strong>trash</strong> and other general waste.</p>
        <p>Through proud individuals around the world posting photos of trash on Instagram, we know where this pollution is coming from, where it's going, and where it ends up. From there we use this information to do something about it: by educating ignorant offenders, lobbying policymakers around the globe, and changing cultural attitudes towards disposing of waste products.</p>
      </div>
    </div>
  </div>
</div>
<div class="ply ply-secondary">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h2>Here's how it works:</h2>
        <hr class="spacer more-space">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-offset-1 col-sm-5">
        <h3>1. Snap a photo</h3>
        <p>When you spot pollution, whether it's trash, garbage, litter, or just general waste, grab a photo with your phone.</p>

        <h3>2. Upload to Instagram with #canarytrash</h3>
        <p>Choose a sweet filter, and upload the photo to Instagram with #canarytrash. For bonus points, include a load of hashtags to classify the trash, for example #cokebottle.</p>

        <h3>3. We'll see it</h3>
        <p>Your image <a href="#">appears on this map</a> on the Codename Canary website, alongside the entire community's photos.</p>

        <h3>4. We'll do something about it!</h3>
        <p>All the data we analyse from the photos you upload helps us choose what the best course of action is.</p>
        <p>From educating school kids in Indonesia on what happens to plastic that's thrown in the sea,  to lobbying policymakers in the Phillipines to curb illegal dumping, your photos give us the data we need take action! </p>
        <p class="margin-bottom-30">For example, if there's a large scale pollution event in a local park, we can contact the folks who'll come and clean it up. If there's litter washing up on a beach, we can trace where it's come from and cut it off at the source. <strong>With your help, we can start to reverse the trend of pollution in the natural environment!</strong></p>
      </div>
      <div class="col-sm-6">
        <img class="screenshot" src="img/iphoneInstagram.png" alt="Codename Canary on Instagram" />
      </div>
    </div>
  </div>
</div>
<div class="ply">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-center">
          <h2>Explore #canarytrash on Instagram</h2>
          <hr class="spacer more-space">
          <p class="lead margin-bottom-30">Thanks to all these photos, we're cleaning up the planet!</p>
          <p class="margin-bottom-30">Got an image you'd like to see shared here?! <strong>Just upload your photo to Instagram, tag the location, and add the hashtag #canarytrash!</strong> Easy.</p>
        </div>
        <!-- SnapWidget -->
        <iframe src="http://snapwidget.com/p/widget/?id=MqTfR1xpi6&t=662" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
      </div>
    </div>
  </div>
</div>

{% include seperator.html %}

<div class="ply">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Latest posts from Trashasaurus Rex</h2>
        <p class="lead">The official Codename Canary blog!</p>
        <hr class="spacer spacer-left more-space">
        {% for post in site.posts %}
          <div class="row">
            <div class="col-sm-2">
              <h4>{{ post.date | date: "%b %-d, %Y" }}</h4>
            </div>
            <div class="col-sm-8">
              <p class="lead"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
