{% include cta.html %}
<footer>
  <div class="container">
    <hr class="sudo-border" />
    <br />
    <div class="row">
      <div class="col-sm-5">
        <p>Saving the planet one hashtag at a time <a href="https://www.instagram.com/explore/tags/canarytrash/" target="_blank">#canarytrash</a>.</p>
        <ul class="list-inline footer-icons">
          <li><a href="https://instagram.com/codenamecanary" target="_blank"><i class="fa fa-instagram fa-3x"></i></a></li>
          <li><a href="https://twitter.com/codename_canary" target="_blank"><i class="fa fa-twitter fa-3x"></i></a></li>
          <li><a href="https://www.facebook.com/Codename-Canary-532055910283292/" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a></li>
        </ul>
        <br />
      </div>
      <div class="col-sm-7 text-right">
        <p>&copy; Codename Canary &mdash; 2015 and beyond...</p>
        <p class="small"><a href="http://mead.fm/" target="_blank">Made with <i class="fa fa-heart-o"></i> in WA</a></p>
      </div>
    </div>
  </div>
</footer>
